@use './pelletes' as plt;
@use './function' as fn;

.h1-text {
    color: plt.$text;
    font-weight: bold;
    font-size: fn.rem(28);
}

.h2-text {
    color: plt.$text;
    font-weight: bold;
    font-size: fn.rem(20);
}

.p-text {
    color: plt.$text-secondary;
    font-size: fn.rem(16);
}

//quadrado aspect-radio
.square-asp {
    aspect-ratio: 1 / 1;
}

//center com flex
.flex-center {
    justify-content: center;
    align-items: center;
}

$color-shadow: #0000004d;

button {
    cursor: pointer;
    box-shadow: 6px 6px 14px 6px $color-shadow;
}

//responsividade
//se for maior ou igual
@media (min-width: 500px) {
    .h1-text {
        font-size: fn.rem(36);
    }

    .h2-text {
        font-size: fn.rem(24);
    }

    .p-text {
        font-size: fn.rem(20);
    }
}

@media (min-width: 1024px) {
    .h1-text {
        font-size: fn.rem(45);
    }

    .h2-text {
        font-size: fn.rem(30);
    }

    .p-text {
        font-size: fn.rem(22);
    }
}