@use '/src/styles/pelletes' as plt;
@use '/src/styles/function' as fn;

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: plt.$background;
    gap: fn.rem(50);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    .ball {
        position: absolute;
        z-index: 1;
        aspect-ratio: 1 / 1;
        background: rgba(42, 37, 88, 0.381);
        filter: blur(50px);
        border-radius: 50%;
        transition: 0.5s ease-in-out;
        animation: floater 4s alternate infinite forwards;
        
        @keyframes floater {
            from {transform: translateY(100%);}
            to {transform: translate(0);}
        }
    }
    
    section.section {
        z-index: 2;
        position: relative;
        width: 98%;
        padding: fn.rem(8);
    }
}