@use '/src/styles/pelletes' as plt;

$radial-gradient-color: rgba(255, 255, 255, 0.095); 
$line-bottom-nav: plt.$primary;

.navbar {
    width: 100%;
    background: radial-gradient(circle at center top, $radial-gradient-color 10%, transparent);
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: 90px;
    position: relative;
    
    &::before {
        position: absolute;
        top: 100%;
        content: '';
        width: 100%;
        height: 3px;
        background: linear-gradient(270deg, transparent 5%, $line-bottom-nav, transparent 95%);
        box-shadow: 5px 0px 20px 0px $line-bottom-nav;
    }
}